<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleDisplayName</key>
        <string>WhisperShortcut</string>
        <key>CFBundleExecutable</key>
        <string>WhisperShortcut</string>
        <key>CFBundleIdentifier</key>
        <string>com.magnusgoedde.whispershortcut</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>WhisperShortcut</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>6.0.0</string>
        <key>CFBundleVersion</key>
        <string>68</string>
        <key>LSMinimumSystemVersion</key>
        <string>15.5</string>
        <key>LSUIElement</key>
        <true />
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.productivity</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>This app needs microphone access to record audio for transcription.</string>
        <key>NSKeychainUsageDescription</key>
        <string>This app needs keychain access to securely store your Google API key.</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <false />
        </dict>
        <key>ITSAppUsesNonExemptEncryption</key>
        <false />
        <key>GIDClientID</key>
        <string>883017804044-pssohie2bd5nap539i9sbuc2guv8qaqf.apps.googleusercontent.com</string>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.883017804044-pssohie2bd5nap539i9sbuc2guv8qaqf</string>
                </array>
                <key>CFBundleURLName</key>
                <string>com.magnusgoedde.whispershortcut.oauth</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
            </dict>
        </array>
    </dict>
</plist>